<div class="container__menu-bar">
  <ul>
    <li><a href="https://linkedin.com/in/felipe-aguiar-exe">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/felipeAguiarCode">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ">Youtube</a></li>
    <li><span>•</span></li>
    <li><a
        href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D">twitter</a>
    </li>
    <li><span>•</span></li>
    <li> <a [routerLink]="['anime']">ANIMES</a></li>
    <li><span>•</span></li>
    <li> <a [routerLink]="['']">HOME</a></li>

  </ul>
</div>